<ion-header >
    <ion-toolbar>
      <ion-title color="warning">Kesä Visa</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-radio-group>
      <ion-item>
        <ion-label>{{option}}</ion-label>
        <ion-radio *ngFor="let option of activeQuestion?.options; let i=index" (click)="checkOption(i, activeQuestion )"></ion-radio>
      </ion-item>
    </ion-radio-group>
       
  <ion-content src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js">
  <ion-footer color="secondary" name="footer">Minna Tennivaara @2019</ion-footer>
</ion-content>
