
<ion-content class="ion-padding">
  <h1>Kesä Visa</h1>
  <h3>Sinun aikasi oli:{{ durationSeconds }}</h3>
  
  //kerrotaan palaute//
  <p>{{feedback}}</p>
  <img *ngIf=isCorrect src="../../assets/imgs/kukka.png" (click)="setQuestion()" tappable />
</ion-content>
*/palataan etusivulle/*
  <img src="../../assets/imgs/aurinko.png" (click)="goHome()" tappable />


</ion-content>
