ion-content {
    .title {
    font-size: 2em;
   font-weight: bold;
    }
    .question {
    font-size: 1em;
      }
      .ask {
    font-size: 1.5em;
    font-weight: bold;
   font-style: italic;
     }
   .option {
    font-size: 1em;
     }
     .icon {
     padding-right: 0.25em;
    }
}